{% extends "layout.html" %}


{% block body_content %}
        <p> Colours? We have many! Take your pick and create your palette as you please! </p>
	<p> Please insert a name for your palette and pick your colours via colour name or hex code.</p> 
        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}
                        {{ form.palette_name.label }}
                        {{ form.palette_name }}
                        <br>

			{% from "_formhelpers.html" import render_field %}
		<form method=post>
	<d1>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.select) }}
        </d1>
	
		<p><input type=submit value=colour_search>
		<br>
                        {{ form.submit }}
                </form>
        </div>

{% endblock body_content %}

