{% extends "layout.html" %}


{% block body_content %}
        <p> Colours? We have many! Take your pick and create your palette as you please! </p>

        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}}
                        <br>

			{% from "_formhelpers.html" import render_field %}
		<form method=post>
	<d1>
                {{ render_field(form.select1) }}
                <p>
                {{ render_field(form.select2) }}
                <p>
                {{ render_field(form.select3) }}
        </d1>
	
		<p>
		<br>
                        {{ form.submit }}
                </form>
        </div>

{% endblock body_content %}

