{% extends "layout.html" %}
  

{% block body_content %}
        <p> Editing a palette? Sure, repick your colours. </p>

        <div class="form">
                <form method="POST" action="">
                        {{ form.hidden_tag() }}}
                        <br>

                        {% from "_formhelpers.html" import render_field %}
                <form method=post>
        <d1>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.select) }}
                <p>
                {{ render_field(form.select) }}
        </d1>

                <p><input type=submit value=colour_search>
                <br>
                        {{ form.submit }}
                </form>
        </div>

{% endblock body_content %}
